
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sansita+Swashed:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sansita+Swashed:wght@300..900&display=swap');

.tableBook{
    background-color: fff;
    padding-top: 90px;
}

.FilterSection{
    display: flex;
   flex-direction: column;
  
}
.FilterSection button{
    text-align: left;
    border: none;
    background: none !important;
    margin: 5px 0;
   
}


.FilterSection button.active {
    border-bottom: 2px solid red;
    width: 30px;
   padding-left: -15px;
}


/* Resllist */
.ResList .card{
    width: 300px;
    height: 250px;
    overflow: hidden;
}
.ResList .card-text{
    color:#a0a0a0;
    padding-top: 0;
}
.ResList-link{
    text-decoration: none;
    color: #333;
}
.ResList-link:hover{
    text-decoration: none;
    color: #333;
}
.ResList img{
    height: 180px;
    width: 100%;
    background-size: cover;
    margin-right: 10px;
    /* transition: transform 400ms ease-in-out 0s; */
    transition: all ease-in-out .3s;
    overflow: hidden;
    transform-origin: center top;
}
.ResList img:hover{
    transform: scale(1.05);
 }